$blanco: #f3f4f8;
$gris-claro: rgb(224, 222, 222);
$gris-claro-b: #e0e0ea;
$color-principal: #ea7a90;
$color-principal-b: #f8aeb5;
$gris-oscuro: #97969d;

$fuente-regular: 'Nunito Sans', sans-serif;

$font-xl: 25px;
$font-l: 22px;
$font-m: 18px;
$font-s: 15px;
$font-xs: 12px;

$padding-l: 15px;
$padding-m: 10px;
$padding-s: 5px;
$margin-l: 15px;
$margin-m: 10px;
$margin-s: 5px;
