body {
	align-items: center;
	display: flex;
	height: 200vh;
	justify-content: center;
	margin: 0;
}

.container {
	border: 1px solid black;
	height: 500px;
	position: relative;
	width: 500px;
}

.cuadrito {
	background: crimson;
	height: 100px;
	position: absolute;

	/* Valores posibles :
  1. Absolute
  2. Relative
  3. Fixed
  4. Static */

	bottom: 50px;
	right: 290px;
	width: 100px;
}

.cuadrito2 {
	background-color: teal;
	height: 100px;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
}
